# ========================
# FastAPI & Server
# ========================
fastapi
uvicorn[standard]
PyMuPDF
google-generativeai
pdfminer.six==20221105

# ========================
# Settings & Environment
# ========================
python-dotenv
pydantic
pydantic-settings
loguru
python-dateutil
dateparser
pydantic[email]

# ========================
# Auth / Security
# ========================
python-jose[cryptography]
passlib[bcrypt]
cryptography

# ========================
# Requests / HTTP
# ========================
requests
python-multipart

# ========================
# MongoDB (Async Driver)
# ========================
motor
dnspython  # required for MongoDB Atlas

# ========================
# Email / Notifications
# ========================
google-api-python-client
google-auth
twilio

# ========================
# Testing
# ========================
pytest
pytest-asyncio
httpx

# ========================
# GridFS - for storing and retrieving files that exceed the BSON-document size limit of 16 MB.)
# ========================
pymongo

# ========================
# cryptography
# ========================
cryptography

# ========================
# PyPDF2 → PDF
# docx2txt → DOCX
# textract → Fallback parser (handles DOC, RTF, ODT, TXT, PPTX, etc.)
# ========================
python-docx
PyPDF2
docx2txt


langchain
langchain-core
langchain-community
langchain-google-genai
google-ai-generativelanguage